*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.nav-bar {
  display: flex;
  padding: 1em 3em;
  width: 100%;
  min-height: 10vh;
  background: #f5faff;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .button {
  width: 10rem;
  height: 3rem;
  border-radius: 5rem;
  outline: none;
  border: 2px #ff8fd8 solid;
  color: #ff8fd8;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
}
.nav-bar .button:hover {
  opacity: 0.5;
}

.l-section {
  width: 100%;
  position: relative;
  padding: 7em 3em 1em 3em;
  min-height: 90vh;
  background: #f5faff;
}
.l-section .l-context {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  text-align: center;
  z-index: 1;
}
.l-section .l-context h1 {
  margin-bottom: 0.5em;
}
.l-section .l-context p {
  margin-bottom: 0.5em;
  width: 50%;
}
.l-section .l-context .l-btn {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  margin-top: 0.5em;
  outline: none;
  border: 2px #ff8fd8 solid;
  color: white;
  cursor: pointer;
  background: #ff8fd8;
}
.l-section .l-image {
  width: 100%;
  display: grid;
  place-items: center;
}
.l-section .l-image img {
  width: 50rem;
}
.l-section .l-stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}
.l-section .l-stats .stats h1 {
  font-size: 4rem;
}
.l-section .l-stats .stats p {
  text-align: center;
}
.l-section .curve1 {
  width: 100%;
  position: absolute;
  bottom: -8rem;
  left: 0;
  z-index: -1;
}
.l-section .curve1 img {
  min-width: 100%;
  object-fit: cover;
}

.together-section {
  padding: 6em 3em;
  margin-top: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.together-section .together-context h1 {
  margin-bottom: 0.5em;
}

.your-users-image img {
  width: 100%;
}

.conversations-section {
  padding: 5em 3em;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.conversations-section .conversations-context h1 {
  margin-bottom: 0.5em;
}

.your-users-section {
  padding: 5em 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.your-users-section .your-users-context h1 {
  margin-bottom: 0.5em;
}

.contact-section {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-section .contact-btn {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  margin-top: 0.5em;
  outline: none;
  border: 2px #ff8fd8 solid;
  color: white;
  cursor: pointer;
  background: #ff8fd8;
}
.contact-section .curve2 {
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: -1;
}
.contact-section .curve2 img {
  min-width: 100%;
  object-fit: cover;
}

.footer-container {
  padding: 5em 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #00252e;
  color: white;
}

.footer-section {
  width: 50%;
}
.footer-section .footer-logo img {
  filter: invert(1);
  margin-bottom: 0.5em;
}
.footer-section .footer-context {
  width: 70%;
  margin-bottom: 0.5em;
}
.footer-section .footer-contact-info {
  margin-top: 1em;
}
.footer-section .footer-contact-info p {
  margin: 0.5em 0;
}
.footer-section .footer-contact-info p img {
  margin-right: 0.5em;
}

.newsletter-section {
  width: 40%;
}
.newsletter-section .newsletter-context h1 {
  margin-bottom: 0.5em;
}
.newsletter-section .contact-form {
  margin-top: 1em;
  width: 100%;
  height: 7vh;
  display: flex;
}
.newsletter-section .contact-form .inputs {
  padding: 0.4em 0;
  width: 20rem;
  height: 100%;
}
.newsletter-section .contact-form .inputs input {
  width: 100%;
  min-height: 100%;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}
.newsletter-section .contact-form .button-wrapper {
  padding: 0.4em 0;
  width: 10rem;
  min-height: 100%;
  margin-left: 1em;
}
.newsletter-section .contact-form .button-wrapper button {
  width: 100%;
  border-radius: 0.2rem;
  min-height: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  background: #ff8fd8;
  color: white;
}
.newsletter-section .error-message {
  color: red;
  font-size: 1rem;
  visibility: hidden;
  transition: visibility 0.3s;
}

@media screen and (max-width: 1024px) {
  .l-section .l-context p {
    width: 100%;
  }
  .l-section .l-image img {
    width: 100%;
  }
  .l-section .l-stats {
    align-items: center;
    flex-direction: column;
  }
  .l-section .l-stats .stats {
    margin: 3em 0;
  }

  .together-section,
.conversations-section,
.your-users-section {
    flex-direction: column;
  }

  .together-context,
.conversations-context,
.your-users-context {
    margin-bottom: 2em !important;
  }

  .footer-container {
    flex-direction: column;
  }
  .footer-container .footer-section {
    width: 100%;
    margin-bottom: 2em;
  }
  .footer-container .footer-section .footer-context {
    width: 100%;
  }
  .footer-container .newsletter-section {
    width: 100%;
  }
  .footer-container .newsletter-section .contact-form {
    flex-direction: column;
    width: 100%;
  }
  .footer-container .newsletter-section .contact-form .inputs {
    width: 100%;
  }
  .footer-container .newsletter-section .contact-form .button-wrapper {
    width: 100%;
  }
  .footer-container .newsletter-section .contact-form .button-wrapper button {
    width: 40%;
    float: right !important;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.2rem;
  }

  .nav-bar {
    padding: 1em 1.5em;
  }

  .logo img {
    width: 7rem;
  }

  .l-section {
    padding: 7em 1.5em 1em 1.5em;
  }

  .footer-container {
    padding: 5em 1.5em;
  }

  .footer-section .footer-logo img {
    width: 7rem;
  }
}

/*# sourceMappingURL=style.css.map */
